.DS_Store

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Cocoapods
Pods/
Podfile
Podfile.lock
mime.xcworkspace

# Tests
tests/

# Build generated
build/
derivedData/

# Other
*.moved-aside
*.xcuserstate
*.xcuserdatad
